/* ヘッダー部分 */
.header {
  margin-bottom: 4rem;
}

/* ヘッダーの画像 */
.headerImage {
  height: 8rem;
}

.headerImage > img {
  height: 8rem;
}

.appName {
  font-size: 6.7rem;
  margin: 0;
}

/* ヘッダー部分のメディアクエリ */
@media (max-width: 687px) {
  .appName {
    font-size: 5.7rem;
  }
}

@media (max-width: 587px) {
  .appName {
    font-size: 4rem;
  }
}

@media (max-width: 420px) {
  .appName {
    font-size: 3rem;
  }
  /* .sub-sub {
    font-size: 1.5rem;
  } */
  .header {
    margin-bottom: 2rem;
  }
}


/* メイン部分 */

.main {
  font-size: 2.5rem;
}

.videoSectionContainer {
  /* border: dotted black; */
  /* width: 100%; */
}

.videoSection {
  /* display: block; */
  /* border-top: dotted black;
  border-bottom: dotted black;
  width: auto; */
}

.appDescription {
  font-weight: bold;
}

.ynCOntainer {
  /* display: flex; */
  margin: auto;
}

.links {

  margin-bottom: 2rem;
}

/* メイン部分のメディアクエリ */
@media (max-width: 687px) {

}

@media (max-width: 587px) {

}

@media (max-width: 420px) {
  .main {
    font-size: 1.5rem;
  }
}



/* 無駄があるので後で整理する */
.externalLinkContainer {
  margin: 1rem;
  border: dotted;
  /* display: inline-block; */
}

.externalLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  /* width: 100%; */
  border: dotted black;
  /* margin: 1rem; */
}