.appName {
  font-size: 6.7rem;
}

.useTech {
  font-size: 3rem;
}

.videoSection {
  /* width: 100px; */
  /* height: 100px; */
  /* text-align: center; */
  /* margin: 0 auto; */
}

.main {
  font-size: 2.5rem;
}